<app-product-nav-bar></app-product-nav-bar>

<div class="container mt-4" ng-controller="PaginationCtrl">
  <div class="row">
    <ng-container *ngFor="let product of products">
      <div class="card m-2" style="width: 16rem;">
        <img src="{{ product.imageUrl }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title productdata">
            <a [title]="product.productName + ' details'"routerLink="/Products/{{product.productId}}/details">
              {{ product.productName|uppercase}}
            </a>
          </h5>
          <!-- <h5 class="card-title productdata">{{product.productName|uppercase}}</h5> -->
          <div class="card-text">
            <div class="productdata">Product Description:{{product.description}}</div>
            <div>Price:{{product.price|currency:'INR'}}</div>
            <div>Rating:{{product.rating|number:'1.1-1'}}</div>
            <div>Created Date:{{ product.createdDate|date:'d MMM, y, h:mm a' }}</div>
            <div>Release Date:{{ product.releaseDate|date:'d MMM, y, h:mm a' }}</div>
            <div>Last Update Date:{{ product.lastUpdatedDate|date:'d MMM, y, h:mm a' }}</div>
            <div>IsActive:{{product.isActive}}</div>
          </div>
          <div *ngIf="product.isActive==true; else elseBlock"><a href="#" class="btn btn-primary btn-sm m-1"
              (click)="onDeactiveProduct(product.productId,product.productName)" (click)="deActivateNotification()">Deactivate</a>
          </div>
          <ng-template #elseBlock> <a href="#" class="btn btn-primary btn-sm m-1"
              (click)="onReactiveProduct(product.productId,product.productName)" (click)="activateNotification()">Activate</a>
          </ng-template>
          <div class="mt-2">
            <a class="btn btn-primary  m-1" routerLink="/Products/{{product.productId}}/edit">
              Edit
            </a>
            <a href="#" class="btn btn-danger  m-1" (click)="onDeleteProduct(product.productId,product.productName)" (click)="deleteNotification()">Delete</a>
          </div>

        </div>
      </div>
    </ng-container>
  </div>

</div>

<div class="mt-8 py-5 d-flex justify-content-center">
  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  <button class="btn btn-primary" (click)="loadMore()" *ngIf="display">Load More</button>
</div>


